* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: black;
    text-shadow: 2px 2px 5px black;

}

.main-container {
    padding-top: 0px;
    height: 100%;
}

.title {
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 100px;
    padding-top: 190px;
    text-align: center;
}

.card-title {
    font-family: 'Oleo Script', cursive;
    color: #0B3D3A;
    font-size: 100px;
    font-style: 'Roboto Condensed', sans-serif;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    /* https://css-tricks.com/adding-stroke-to-web-text/ */
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0b3d3a45;
}

.main-banner {
    width: 100%;
    height: 100%;
    background-image: url('images/homebanner1.png');
    background-color: #0B3D3A;
    background-size: cover;
    margin: 0;
}

.sub-heading {
    margin-top: 30px;
    padding: 40px;
}

.input-group-cng {
    margin-bottom: 12px;

}

.contact-area {
    display: flex;
    justify-content: center;
}

.contact-button {
    border: none;
    border-radius: 6px;
    padding: 16px;
    color: white;
    background-color: #4B6153;
    font-size: 32px;
    margin-top: 60px;
}

.contact-button:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.213), 0 17px 50px 0 rgba(0, 0, 0, 0.243);
}

.socials {
    margin-top: 0;
    text-align: center;
    word-spacing: 48px;
    background-color: #15344D;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
    user-select: none;
}

.about-me-container {
    display: flex;
    flex: column;
    flex-wrap: wrap;
    height: auto;
}

.about-me-banner {
    background-image: url('images/aboutmebanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;

}

.about-info {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: #15344D;
    justify-content: center;
    box-shadow: 10px 5px 20px 0px rgba(6, 12, 22, 0.162) inset;

}

.bio-info {
    margin-top: 20px;
    padding: 0px;
    max-width: 33%;
    font-size: 12px;
}

li {
    list-style-type: none;
}

.headshot {
    padding: 40px;
    max-width: 300px;
    max-height: 320px;
    border-radius: 50%;
}


@media screen and (max-width:700px) {

    .card-title {
        font-size: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .about-info {
        padding-bottom: 80px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }

    .bio-info {
        /* text-align: center; */
        padding: 20px;
        max-width: 500px;
        margin-top: 0;
        font-size: 11px;
    }

    .title {
        font-size: 50px;
        padding-top: 150px;
        text-align: center;
    }

    .main-container {
        display: flex;
        align-items: center;

    }

    .main-banner {
        width: 100%;
        background-size: cover;
        background-image: url('/Portfolio/images/homebanner1.png');
        background-color: #0B3D3A;
        margin: 0;
    }

    .sub-heading {
        margin-top: 0;
    }

    .headshot {
        padding: 10px;
        max-width: 150px;
        max-height: 180px;
        margin: 25px 50px -30px 50px;
    }

    .socials {
        font-size: 20px;
    }

    .contact-button {
        padding: 12px;
        font-size: 24px;

    }
    h3 {
        font-size: 20px;
    }
}